# .dockerignore

# Build-related files and folders
build/
.dart_tool/
.idea/

# Lockfiles (will be regenerated inside the container)
# We can let pubspec.lock pass to ensure dependency consistency
# pubspec.lock

# IDE settings
*.iml```