# .dockerignore

# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# IDE va tahrirlovchi sozlamalari
.idea/
.vscode/
*.iml
*.code-workspace

# Dart & Flutter
.dart_tool/
.packages
build/
# Generatsiya qilingan fayllar
*.g.dart
*.freezed.dart

# Bog'liqliklar faylini nusxalaymiz, lekin papkalarni emas
# pubspec.lock

secrets/

# Loglar va boshqa lokal fayllar
*.log